
body {
    background-color: #606964; 
    color: white;
}
.photovideo {
    margin: 40px;
    padding-left: 40px;
    border-bottom: 3px  gray solid;   
}
.container {
    padding-top: 10%;
    padding-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Colonnes*/
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; /* Lignes*/
    gap: 1px; /* Réduction de l'espace entre les photos */
    width: 40%; /* Taille du container */
    height: 200vh;    
}
  .container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cadre correctement l'image */
}
  .vl {
    border-left: 1px gray solid;
    height: 900px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 180px;
}
.vid {
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: 50px;
    top: 180px;
    font-weight: 1000;
    font-size: xx-large;
}
.vidéoitv {
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: 50px;
    top: 250px;
    font-weight: 1000;
 }
.vid2 {
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: 442px;
    top: 470px;
    font-weight: 1000;
    font-size: xx-large;
}
.vidéoconcert {
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: 250px;
    top: 540px;
    font-weight: 1000;
}
.vid3 {
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: 50px;
    top: 760px;
    font-weight: 1000;
    font-size: xx-large;
}
.vidéoclip {
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: 50px;
    top: 830px;
    font-weight: 1000; 
}
